.gameArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 100vh;
    gap: 40px;
}

.gameButtons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gameResult {
    border: solid black;
    border-radius: 15px;
    align-self: center;
    width: 60%;
    padding: 10px;
}

.gameResult h3 {
    margin-top: 0;
}

.roundResult {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
    border: solid black;
    border-radius: 15px;
    width: 70%;
    height: 60px;
    align-self: center;
}

button {
    background: blue;
    color: white;
    height: 90px;
    border: none;
    border-radius: 15px;
    font-size: 25px;
    margin: 0;
    padding: 0;
    width: 25%;
}
